* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, #0100ec, #fb36f4);
  height: 100%;
  width: 100%;
  color: white;
}

body h1 {
  color: white;
  font-weight: normal;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

body p {
  text-align: justify;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
  margin: 1em auto;
}
body img {
  width: 500px;
  border-radius: 10px;
}

body ul {
  list-style: none;
}

.img-shadow {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.411);
}

main {
  max-width: 1200px;
  margin: auto;
}

.menu {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

.menu h1 {
  font-size: 1.3em;
  font-weight: normal;
}

.menu h1 a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.menu h1 a:hover {
  background-color: #551a8b;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 10px;
}

.menu li a {
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 5px;
}

.menu li a:hover {
  background-color: #551a8b;
  transition-duration: 0.5s;
}

.grid-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin: 16.5em auto;
}

/* .introducao {
  height: 100%;
} */

main .grid-section h1 {
  font-size: 4em;
  width: 600px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

body strong {
  color: rgb(189, 85, 189);
  font-size: 1.1em;
  box-shadow: none;
}

.h1-config {
  font-size: 4em;
  text-align: center;
  margin: 1em auto;
}

.stack-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.stacks img {
  max-height: 100%;
  width: 150px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container-projetos {
  margin: 10.1em auto;
  padding: 30px;
  border-radius: 15px;
  background-image: linear-gradient(to bottom right, #fdfcfb, #e2d1c3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}

.container-projetos h1 {
  color: rgb(73, 0, 73);
  font-weight: 600;
  margin-top: -20px;
}

.container-projetos p {
  text-align: center;
}

.container-projetos ul {
  list-style: none;
}

.container-projetos p {
  color: #551a8b;
  font-size: 1.1em;
}

.container-projetos p a {
  text-decoration: none;
}

.container-projetos p a:hover {
  text-decoration: underline;
}

.card {
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-color: #551a8b;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);

  position: relative;
}

.card p {
  color: white;
  position: absolute;

  top: 74%;
  left: 5%;
}

.innercard {
  background-color: #fff;
  border-radius: 10px;
  width: 230px;
  height: 140px;
  margin-top: 10px;
}

.innercard img {
  width: 100%;
  height: 100%;
}

.card-flex {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.card-flex img {
  filter: grayscale(100%);
}

.card-flex img:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

.contatos {
  padding: 5em;
  background-color: #000;
  margin: 0 auto;
}

.contatos h1 {
  margin: 0 auto 1em;
  grid-column: 1/3;
}

.contatos p {
  width: 400px;
  font-size: 1.5em;
  justify-self: end;
  line-height: 1.5;
}

.contatos li a {
  color: white;
  font-size: 2.5em;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}

.contato-links {
  place-self: center;
}

.contato-links li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contato-links img {
  width: 36px;
  height: 36px;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #551a8b;
  display: flex;
  align-items: center;
}

.footer p {
  padding: 10px;
  font-size: 0.875em;
}

.footer p a {
  color: white;
  text-decoration: none;
}

.footer p a:hover {
  text-decoration: underline;
}
