* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, #0100ec, #fb36f4);
  height: 100%;
  color: white;
}

body h1 {
  color: white;
}

body p {
  text-align: justify;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}
body img {
  width: 400px;
  border-radius: 10px;
}

.img-shadow {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.411);
}

main {
  max-width: 1000px;
  margin: auto;
}

.menu {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

.menu h1 {
  font-size: 1.3em;
  font-weight: normal;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 10px;
}

.menu li a {
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 5px;
}

.menu li a:hover {
  background-image: linear-gradient(to bottom right, #0100ec, #fb36f4);
  box-shadow: 5px 5px rgb(0, 17, 255);
}

.grid-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin: 10.1em auto;
}

.introducao {
  height: 100%;
}

main .grid-section h1 {
  font-size: 2em;
  width: 450px;
  text-align: center;
  justify-self: end;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

body strong {
  color: rgb(73, 0, 73);
  font-size: 1.1em;
}
