* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, #0100ec, #fb36f4);
  height: 100%;
  width: 100%;
  color: white;
}

body h1 {
  color: white;
  font-weight: normal;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

body p {
  text-align: justify;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
  margin: 1em auto;
}
body img {
  width: 400px;
  border-radius: 10px;
}

.img-shadow {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.411);
}

main {
  max-width: 1000px;
  margin: auto;
}

.menu {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

.menu h1 {
  font-size: 1.3em;
  font-weight: normal;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 10px;
}

.menu li a {
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 5px;
}

.menu li a:hover {
  background-image: linear-gradient(to bottom right, #0100ec, #fb36f4);
  box-shadow: 5px 5px rgb(0, 17, 255);
}

.grid-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin: 10.1em auto;
}

.introducao {
  height: 100%;
}

main .grid-section h1 {
  font-size: 3em;
  width: 450px;
  text-align: center;
  justify-self: end;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

body strong {
  color: rgb(73, 0, 73);
  font-size: 1.1em;
}

.h1-config {
  font-size: 3em;
  text-align: center;
  margin: 1em auto;
}

.stack-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.stacks img {
  max-height: 100%;
  width: 150px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container-projetos {
  margin: 10.1em auto;
  padding: 30px;
  border-radius: 15px;
  background-image: linear-gradient(to bottom right, #fdfcfb, #e2d1c3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}

.container-projetos h1 {
  color: rgb(73, 0, 73);
  font-weight: 600;
  margin-top: -20px;
}

.container-projetos p {
  text-align: center;
}

.container-projetos ul {
  list-style: none;
}

.container-projetos li a {
  text-decoration: none;
}

.container-projetos li a:hover {
  text-decoration: underline;
}

.container-projetos p {
  color: #551a8b;
  font-size: 1.1em;
}

.card {
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-color: #551a8b;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  position: relative;
}

.card p {
  color: white;
  position: absolute;

  top: 74%;
  left: 5%;
}

.innercard {
  background-color: #fff;
  border-radius: 10px;
  width: 230px;
  height: 150px;
  margin-top: 10px;
}

.innercard img {
  width: 100%;
  height: 100%;
}

.card-flex {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #551a8b;
  display: flex;
  align-items: center;
}

.footer p {
  padding: 10px;
  font-size: 0.875em;
}
